.icon{
  position: static;
  margin-left: 38px;
  margin-top: 10px;
  
}


.sidebar{
  width: 320px;
  height: 1024px;
  background-color: white;
  box-shadow: 0 0 100px 0 rgba(0,0,0,0.2);
  position: absolute;
  margin-top: -55px;
  
 
  
}

.sidebar.active {
  transform: translateX(-320px);
  transition: 2s;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  
  
}

.sidebar:not(:active){
  transition: 2s;
}


.sidebar__header{

  display: flex;
  justify-content: space-around;
  height: 40px;
  
}

.sidebar__header--menu1{
  
  display: flex;
 width: 40%;
 justify-content: space-between;
  

}

.sidebar__header--menu{
  margin-top: 10px;
  height: 40px;
  display: flex;
}

.sidebar__list{
  
  margin-top: 50px;
}

.sidebar__list1{
  list-style-type: none;
 
}

.sidebar__list--item{
  margin-top: 20px;
  font-family: TT Lakes;
}

